
.header-container{
    background-color: rgb(255, 255, 255);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 14px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 6px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow{
    width: 20px;
   height: 20px;
   filter: saturate(70%);
   margin-right: 10px;
}

.summary {
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 160%;
    font-weight: bold;

    img {
        margin-left: 5px;
    }
}

.live-stream {
    margin-right: 30px;
    font-size: 35px;
}

.presents {
    font-size: 20px;
}

.price-change-green {
    font-size: 18px;
    margin-right: 10px;
    color: green;
}
.price-change-red {
    font-size: 18px;
    margin-right: 10px;
    color: red;
}