.jfPIPp {
    height: 550px;
  }
  
  .hoLhNJ {
    background-color: #86888a;
    color: white;
  }

  .history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #172631;
    margin-bottom: 20px;
  }
  
  .cSqbTj {
    font-weight: bold !important;
    font-size: 20px !important;
  }
.fGTacx{
  font-weight: bold !important;
  font-size: 20px !important;
}
.XDAue{
  font-weight:lighter !important;
  font-size: 20px !important;
}

.krNoFk{
  font-weight:lighter !important;
  font-size: 20px !important;

} 