@import "../style/header.scss";
@import "../style/tabs.scss";

body {
  background-color: rgb(204, 210, 211);
  margin: auto;
}

.main-container {
  width: 85%;
  margin: auto;
}

.jfPIPp {
  height: 500px;
}

.buttons-group {
  margin-bottom:10px;
}
