@media only screen and (max-width: 600px) {
  .area-charts {
    width: 200px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .recharts-surface {
    width: 100%;
    height: 30%;
    transform: translate3d(0px, 126px, 0px);
    display: none;
  }

  .recharts-wrapper {
    position: sticky !important;
    cursor: default;
    // height: 100px;
    width: 100px !important;
    height: 100px !important;
    transform: scaleY(100%);
  }

  .gWWDGh {
    width: 113% !important;
  }

  .hoLhNJ {
    min-width: 50px !important;
  }

  .cSqbTj {
    font-weight: bold !important;
    font-size: 8.5px !important;
  }
  .fGTacx {
    font-weight: bold !important;
    font-size: 8.5px !important;
  }
  .XDAue {
    font-weight: bold !important;
    font-size: 8.5px !important;
  }

  .krNoFk {
    font-weight: bold !important;
    font-size: 8.5px !important;
  }

  .live-stream {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    width: 80%;
    padding-right: 10px;
  }

  .select-container {
    width: 300px !important;
  }

  .overview-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
  }

  #container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 400px;
    background-color: #fff;
  }

  #overview {
    display: none;
  }

  #history {
    position: absolute;
    transform: translate(-66px, -21px);
  }

  .unfortunately {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
  }

  .negative-value {
    display: none;
  }
  .positive-value {
    display: none;
  }

  .top-container{
   display: none;
  }

}
