@media only screen and (max-width: 600px) {
    .area-charts {
        width: 200px;
        height: 500px;
        margin: auto;
        display: flex;
        justify-content: center;
    }
.recharts-surface{
    width: 350px;
    height:200px;
}

.recharts-wrapper{
    height: 100px;
}

.gWWDGh{
    width: 113% !important;
}

.hoLhNJ{
    min-width: 50px !important;
}

.cSqbTj {
    font-weight: bold!important;
    font-size:8.5px !important;
  }
.fGTacx{
  font-weight: bold !important;
  font-size: 8.5px !important;
}
.XDAue{
  font-weight:bold !important;
  font-size: 8.5px !important;
}

.krNoFk{
  font-weight:bold !important;
  font-size: 8.5px !important;

} 

  }