.links-container {
  padding: 10px;
  color: white;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.main-page-link {
  margin: 5px;
  text-decoration: none;
  color: black;
}

.over-view-link {
  margin: 5px;
  text-decoration: none;
  color: black;
}


